:root {
	--primary-bg-color: #333;
	--text-color: #f7f7f7;
	--font-family: 'Mono', monospace;
	--font-size-h2: 7vw;
	--font-size-h3: 5vw;
	--cursor-blink-duration: 1.5s;
}

html {
	background-color: #608aa7;
	color: #ffffff;
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
}
